@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

:root {
	--font-sans: 'Manrope', sans-serif;
	--font-title: 'Lora', serif;
}

:root[data-theme='light-spring'] {
	--color-primary: #ec4899;
	--color-background: #fdfcf9;
	--color-text: #4b4453;
}

:root[data-theme='dark-spring'] {
	--color-primary: #ec4899;
	--color-background: #1e1b2e;
	--color-text: #e9e9f9;
}

:root[data-theme='light-summer'] {
	--color-primary: #f59e0b;
	--color-background: #fffaf0;
	--color-text: #3d2c1f;
}

:root[data-theme='dark-summer'] {
	--color-primary: #f59e0b;
	--color-background: #1c1c29;
	--color-text: #f3f4f6;
}

:root[data-theme='light-autumn'] {
	--color-primary: #f97316;
	--color-background: #fff8f0;
	--color-text: #3d2c29;
}

:root[data-theme='dark-autumn'] {
	--color-primary: #f97316;
	--color-background: #1b1511;
	--color-text: #f3ede7;
}

:root[data-theme='light-winter'] {
	--color-primary: #60a5fa;
	--color-background: #f0f4f8;
	--color-text: #1e293b;
}

:root[data-theme='dark-winter'] {
	--color-primary: #60a5fa;
	--color-background: #0e1a2b;
	--color-text: #dce4f2;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-sans);
}

.button-primary {
	background-color: var(--color-primary);
}
